Parse errors - 'couldn't find referenced MIB' and 'undefined symbols'

Hello,

I'm using a fairly standard set of MIBs, the normal ones snmp-mibs-download fetches plus the Cisco v2 MIBs from their public FTP. My graylog-server logs are full of this:
Cisco example:
```
2015-09-08T15:39:30.020+10:00 WARN  [SnmpOIDDecoder] Error parsing MIB file: /var/lib/mibs/cisco/CISCO-RFC1213-CAPABILITY
 - couldn't find referenced MIB 'RFC-1212'
 - undefined symbol 'systemGroup'
 - undefined symbol 'systemGroup'
 - undefined symbol 'systemGroup'
 - undefined symbol 'systemGroup'
 - undefined symbol 'systemGroup'
```

IETF example:
```
2015-09-08T15:39:18.932+10:00 WARN  [SnmpOIDDecoder] Error parsing MIB file: /usr/share/mibs/ietf/IFCP-MGMT-MIB
 - couldn't find referenced MIB 'RFC-1212'
 - couldn't find referenced MIB 'RFC1271-MIB'
 - undefined symbol 'rmon'
 - undefined symbol 'OwnerString'
 - undefined symbol 'statistics'
 - undefined symbol 'OwnerString'
 - referenced value is not an object identifier
 - undefined symbol 'OwnerString'
 - referenced value is not an object identifier
 - referenced value is not an object identifier
 - referenced value is not an object identifier
 - referenced value is not an object identifier
 - referenced value is not an object identifier
```

Are they still being loaded, and these are just warnings? 
Using 0.2.1 (due to the null pointer issue in #4 ) and latest Graylog (1.1.6)  

The file with the parsing error is not loaded in this case. I get these errors as well, I guess there is not much we can do about that because the files seem to be broken. :confused: 

Thanks for checking! I'll go through trial&elemination then to see which MIBs work and which do not!

Please read this, I think it's the same problem: https://github.com/Graylog2/graylog-plugin-snmp/issues/9